<%- include ('partials/head') %>


 <%- include("partials/navigation")%>
   <main class="vh-100 container pt-2 text-center -d-flex justify-content-center align-items-center">
     <section>
       <h1 class="display-1">About</h1>
       <p>Fuga non sed pariatur. Et et ad eaque voluptatem doloremque quod. Voluptatem ipsum temporibus eligendi aut voluptatem odio. Ut aspernatur non laboriosam debitis vero ratione est sit. Dolorem omnis non harum repellendus dolorum.</p>
     </section>
   </main>

<%- include ('partials/footer') %>