<!DOCTYPE html lang="es">
<head>
  <meta charset= "utf-8"
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8">
	<title><%=title%></title>
  <%- include ('partials/head') %>
</head>
<body>
  <%- include("partials/navigation")%>
    <div class="container vh-100 d-flex justify-content-center align-items-center">

      <div class= "  card bg-dark text-white text-center">
        <div class= "card-header">
          <h3> contact me</h3>
      </div>
        <div class="card-body text-start">
        <form>

          <div class="mb-3">
          <label for="email">Email</label>
          <input class="form-control" type ="email" placeholder="Ingrese tu email">
            </div>
          <div class="mb-3">
            <label for="message">Message</label>
          <textarea name="message" rows="3"></textarea> 
          </div>
           <button class="btn btn-primary btn-block "> Save</button>
        </form>
        </div>
    </div>
</body>
</html>