<footer>
  <h1>lorem ,impu solor</h1>
  <p> Quae culpa delectus fuga. Et odit consequuntur iste cupiditate. Quasi placeat ea ullam qui dolorem ratione eligendi recusandae. Sed magni asperiores dignissimos et ea iusto corrupti. Temporibus dolores sit quidem. Adipisci et quod esse ad sequi iure.  </p>
</footer>